@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body
{
    background: url("https://cdn.discordapp.com/attachments/844182972215197709/907024994553430057/849790.gif") no-repeat;
    background-position-x: center;
}
.background
{
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.u1
{
    position: relataive;
    display: flex;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.671);
    justify-content: center;
    align-items: center;
}
.center
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.button
{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    width: 200px;
    margin-top: 20px;
    border-radius: 5px;
    font-family: consolas;
    color: #2196f3;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.5s;
}
.button:hover
{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}